<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">KUAKUA</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
			<!-- MAP here-->
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-header">
					<%= property.name %>
				</div>
				<div class="card-body">
					<h5 class="card-title"><%= property.name %></h5>
					<img src="<%= property.image %>" />
					<p class="card-text"><%= property.description %></p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>